<?xml version="1.0"?>
<configuration>
  <system.net>
    <defaultProxy enabled="true"/>
  </system.net>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="server= A2NWPLSK14SQL-v03.shr.prod.iad2.secureserver.net; Network Library = dbmssocn;  Integrated Security = no; Uid = homedecore; Pwd=admin@12313; Encrypt = no; Connect Timeout=200; pooling='true'; Max Pool Size=200; Initial Catalog=homedecore"/>
    <add name="mvcconnection" connectionString="server= A2NWPLSK14SQL-v03.shr.prod.iad2.secureserver.net; database=homedecore; uid=homedecore; pwd=admin@12313" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Expression: LocalSqlServer"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234.0.0" newVersion="1.5.2.14234.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="CDNUrl" value="http://88600723r47.cf3.rackcdn.com"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/404page.cshtml" responseMode="ExecuteURL"/>
      <error statusCode="500" prefixLanguageFilePath="" path="/404page.cshtml" responseMode="ExecuteURL"/>
      <error statusCode="500" subStatusCode="100" path="/404page.cshtml" responseMode="ExecuteURL"/>
    </httpErrors>
  
    <modules runAllManagedModulesForAllRequests="true"/>
    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
	<trust level="Full"/>
    <customErrors mode="Off"/>
    <!--<sessionState mode="StateServer" cookieless="false" timeout="100"></sessionState>-->
    <machineKey validationKey="A2630E97CED409A92DDD55680769F790ADD1CA2849E4F97DEBDA65648F8C68DD9525DB9126B9C887A15C9EE771E47D2D72089B24EFCF5F440E238A1C320C267F" decryptionKey="81B5D31F5B7B4C04809A0EC328506D57A3645FBA142ACF42F4F0BFF6BB3A217D" validation="SHA1" decryption="AES"/>
 
    <httpRuntime maxRequestLength="2000000"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    
      <!--<compilation targetFramework="4.8" tempDirectory="G:\PleskVhosts\advid.in\tmp" debug="true"/>-->
    <compilation debug="true"/>
  </system.web>
</configuration>